/* Reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* /Reset */
/* color */
.color_grey{
  color: #666666;
}
.color_white{
  color: white;
}
.color_aside{
  background-color: black;
  color: #666666;
}
.color_header{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.color_spotify{
  background-color: #141922;
  color: white;
}
.color_footer{
  background-color: #282828;
  color: white;
}
/* color */
/* -----------MIX-------------- */
.flex_display{
  display: flex;
}
.no_display{
  display: none;
}
.margin_sec_aside{
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-center{
  text-align:center;
}
.overflow-effect{
  overflow:auto;
}
.list_inline li{
  display: inline;
}
.list_type_no{
  list-style-type: none;
}
.decoration_no{
  text-decoration: none;
}
/* effetti hover */
.box_upgrade h2:hover{
  border: 2px solid #ADFF2F;
  color: #ADFF2F;
  cursor: pointer;
  transform: scale(1.1);
}
.hover-effect li:hover a,
.hover-effect li:hover i{
  color:white;
}
.new_playlist span:hover strong{
  color: white;
}
.menu-bar .hover-effect  li:hover{
  border-left: 2px solid #ADFF2F;
}
.nav_list_inline li::after{
  content: "";
  display: block;
  height: 2px;
  width: 35px;
  background-color: transparent;
  margin: auto;
}
.nav_list_inline li:hover::after{
  background-color: #ADFF2F;
}
aside .utente span:hover{
  color: white;
  cursor: pointer;
}
/* ----- */
.card_album:hover{
  cursor: pointer;
}
.card_album .cover_play {
  position: relative;
}
.cover_play::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover_play_circle::after{
  border-radius: 50%;
}
.cover_play:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}
.play-btn {
  visibility: hidden;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.play-btn i{
  color: white;
  font-size: 60px;
}
.cover_play:hover .play-btn {
  visibility: visible;
}
/* ----- */
.fa-play-circle:hover{
  transform: scale(1.1);
}
.time_bar:hover,
.volume_bar:hover{
  cursor: pointer;
}
.time_bar:hover .fa-circle,
.volume_bar:hover .fa-circle{
  display: block;
}
.time_bar:hover .played,
.volume_bar:hover .volume{
  background-color: #ADFF2F;
}
/* effetti hover */
/* -----------/MIX-------------- */
body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
/*---------------------------------HEADER------------------------ */
.upgrade{
  height: 80px;
  position: fixed;
  top: 0;
  left: 300px;
  width: 100%;
  z-index: 10;
  align-items: center;
}
.box_upgrade{
  width: calc(100% - 300px);
  justify-content: flex-end;
  padding: 15px 0px;
}
.box_upgrade h2{
  font-size: 15px;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 50px;
  margin-right: 20px;
  transition: all 0.6s;
}
@media screen and (max-width: 1100px) {
  .box_upgrade{
    width: calc(100% - 300px);
    justify-content: flex-end;
  }
}
@media screen and (max-width: 900px) {
  .box_upgrade{
    width: calc(100% - 300px);
    justify-content: flex-end;
  }
}
@media screen and (max-width: 768px) {
  .box_upgrade{
    width: calc(100% - 100px);
    justify-content: flex-end;
  }
}
/*------------------------------/HEADER---------------------------- */
/* ------------------------CORPO DELLA PAGINA----------------------*/
main {
  height: calc(100% - 125px);
}
/* ---------------ASIDE---------------- */
/* menu responsive */
.logo-small{
  font-size:40px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.menu-small li a img{
  height: 40px;
  padding-left: 10px;
}
.utente-small{
  margin-top:auto;
}
.download-small{
  padding-left: 13px;
}
.user-small{
  padding-left: 11px;
  margin-top: 20px;
}
.utente-small .download-icon{
  height: 30px;
  width: 30px;
}
.utente-small .user-icon{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: grey;
}
/* /menu responsive */
aside{
  width: 300px;
  flex-shrink: 0;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  z-index: 500;
}
.logo img{
  height:40px;
}
.menu li a{
  font-size:14px;
}
.menu-bar .hover-effect  li{
  border-left: 2px solid transparent;
}
.margin_sec_aside ul li{
  margin-bottom: 8px;
}
.new_playlist i{
 padding: 10px 11px;;
 font-size: 20px;
 color: black;
 background-color: grey;
 margin-right: 8px;
 margin-top: 8px;
}
.playlist-bar{
  height: 100%;
}
.playlist-bar ul li{
  margin-top: 8px;
}
.menu img{
  height:25px;
  vertical-align: middle;
}
.utente hr{
  margin-top:10px;
  margin-bottom:20px;
}
.utente .user-icon{
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: grey;
  vertical-align:top;
}
.utente strong{
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  aside{
    width: 100px;
  }
  .upgrade{
    left: 100px;
  }
  .logo{
    display:none;
  }
  .logo-small{
    display:block;
  }
  .menu{
    display:none;
  }
  .menu-small{
    display:block;
  }
  .new_playlist{
    display:none;
  }
  .playlist-bar{
    display:none;
  }
  .utente{
    display:none;
  }
  .utente-small{
    display: block;
  }
}
@media screen and (max-height: 500px){
  .utente{
    display: none;
  }
}
@media screen and (max-height: 440px){
  .utente-small{
    display: none;
  }
}
@media screen and (max-height: 405px){
  .new_playlist, .playlist-bar{
    display: none;
  }
}
@media screen and (max-height: 340px){
  .menu-bar, .menu-small{
    display: none;
  }
}
@media screen and (max-height: 205px){
  .logo-spotify, .box_logo_small{
    display: none;
  }
  header{
    position: static;
  }
  .upgrade{
    display: none;
  }
  aside{
    padding: 0;
  }
}
/* ---------------/ASIDE---------------- */
/* ---------------SPOTIFY---------------- */
.spotify_list{
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  overflow-y: auto;
}
.navmenu{
  margin-top: 90px;
}
.menu_flex{
  width: 60%;
  margin: auto;
}
.navmenu .menu_flex .nav_list_inline{
  flex-wrap: wrap;
  justify-content: center;
}
.navmenu .menu_flex .nav_list_inline li{
  flex-basis: calc(100% / 6);
  padding: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.recenti h2,
.creati h2,
.artisti_popolari h2{
  margin-top: 40px;
  margin-bottom: 20px;
}
.recenti h4{
  margin-top: 10px;
}
.creati p,
.artisti_popolari p{
  margin-bottom: 20px;
}
.wrapper_music {
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}
.card_album {
  flex-basis: calc((100% / 6) - 10px);
  margin: 5px;
}
.card_album img {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.artisti_popolari .card_album img{
  border-radius: 50%;
}
@media screen and (max-width: 1100px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: calc(100% / 5);
  }
  .card_album {
    flex-basis: calc((100% / 4) - 10px);
  }
}
@media screen and (max-width: 900px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: calc(100% / 4);
  }
  .card_album {
    flex-basis: calc((100% / 2) - 10px);
  }
}
@media screen and (max-width: 680px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: calc(100% / 3);
  }
}
@media screen and (max-width: 620px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: calc(100% / 2);
  }
}
@media screen and (max-width: 500px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: 100%;
  }
}
/* ---------------/SPOTIFY---------------- */
/* ----------------------------/CORPO DELLA PAGINA----------------------*/
/* --------FOOTER--------- */
footer{
  height: 125px;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
footer .play_footer_left{
  flex-basis: 18%;
  align-items: center;
}
.play_footer_left .playing_album_img{
  width: 50px;
}
.playing_album_img img{
  width: 100%;
}
.playing_album_text{
  margin: 0px 10px;
}
.playing_album_icon .fa-heart{
 margin: 0px 3px;
}
footer .play_footer_center{
  flex-basis: 44%;
}
.play_footer_center .play_comand{
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.play_comand .fa-play-circle{
  font-size: 35px;
  transition: all 0.6s;
}
.play_comand .fa-step-backward,
.play_comand .fa-step-forward{
  font-size: 22px;
  margin: 0px 20px;
}
.play_footer_center .play_start{
  align-items: center;
}
.time_bar{
  width: 100%;
  height: 5px;
  background-color: #666666;
  border-radius: 5px;
}
.time_bar .played{
  width: 20%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}
.played .fa-circle{
  position: absolute;
  bottom:-6px;
  left: 95%;
}
.startered{
  margin-right: 30px;
}
.remaining{
  margin-left: 30px;
}
footer .play_footer_right{
  flex-basis: 18%;
  align-items: center;
}
.play_footer_right .fa-desktop{
  margin: 0px 10px;
}
.volume_bar{
  width: calc(100% - 100px);
  height: 5px;
  background-color: #666666;
  border-radius: 5px;
  margin-left: 10px;
}
.volume_bar .volume{
  width: 20%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}
.volume .fa-circle{
  position: absolute;
  bottom:-6px;
  left: 90%;
}
@media screen and (max-width: 1191px){
  footer{
    flex-wrap: wrap;
  }
  footer .play_footer_center{
    flex-basis: 100%;
    order: 1;
  }
  footer .play_footer_right{
    flex-basis: 45%;
    order: 3;
  }
  footer .play_footer_left{
    flex-basis: 45%;
    order: 2;
  }
  .playing_album_img img{
    width: 80%;
  }
  .playing_album_text small{
    display: none;
  }
  .playing_album_icon .fa-heart{
   margin: 0px;
  }
}
/* --------/FOOTER--------- */
