/* Reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* /Reset */
/* color */
.color_aside{
  background-color: black;
  color: #666666;
}
.color_header{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.color_spotify{
  background-color: #141922;
  color: white;
}
.color_footer{
  background-color: #282828;
  color: white;
}
/* color */
/* -----------MIX-------------- */
.margin_sec_aside{
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-center{
  text-align:center;
}
.overflow-effect{
  overflow:auto;
}
.list_none li{
  list-style: none;
}
.list_inline li{
  display: inline;
  list-style: none;
}
footer .list_none li:not(:last-child){
  margin-right: 20px;
}
/* effetti hover */
.hover-effect li:hover a{
  color:#fff;
}
.hover-effect  li:hover{
  border-left:3px solid #ADFF2F;
}
/* effetti hover */
/* -----------/MIX-------------- */
body {
  color: white;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
/*---------------------------------HEADER------------------------ */
.upgrade{
  height: 80px;
  position: fixed;
  top: 0;
  left: 300px;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
}
.box_upgrade{
  width: calc(100% - 300px);
  display: flex;
  justify-content: flex-end;
  padding: 15px 0px;
}
.box_upgrade h2{
  font-size: 15px;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 50px;
  margin-right: 20px;
}
@media screen and (max-width: 1100px) {
  .box_upgrade{
    width: calc(100% - 300px);
    justify-content: flex-end;
  }
}
@media screen and (max-width: 900px) {
  .box_upgrade{
    width: calc(100% - 300px);
    justify-content: flex-end;
  }
}
@media screen and (max-width: 680px) {
  .box_upgrade{
    width: calc(100% - 100px);
    justify-content: flex-end;
  }
}
/*---------- -------------------/HEADER---------------------------- */
/* ------------------------CORPO DELLA PAGINA----------------------*/
main {
  height: calc(100% - 140px);
  display: flex;
}
/* ---------------ASIDE---------------- */
/* menu responsive */
.logo-small{
  color: white;
  font-size:40px;
  padding-left: 10px;
  margin-bottom: 10px;
  display:none;
}
.menu-small {
  display:none;
}
.menu-small li{
  list-style-type: none;
}
.menu-small li a img{
  height: 40px;
  padding-left: 10px;
}
.utente-small{
  margin-top:auto;
  display: none;
}
.download-small{
  padding-left: 13px;
}
.user-small{
  padding-left: 11px;
  margin-top: 20px;
}
.utente-small .download-icon{
  height: 30px;
  width: 30px;
  display: block;
}
.utente-small .user-icon{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: grey;
  display: block;
}
/* /menu responsive */
aside{
  width: 300px;
  flex-shrink: 0;
  height: 100%;
  padding: 20px;
  display:flex;
  flex-direction: column;
}
.menu li{
  list-style-type: none;
}
.logo img{
  height:40px;
}
.menu li a{
  color: #666666;
  text-decoration: none;
  font-size:14px;
  font-weight: bold;
}
.margin_sec_aside ul li{
  margin-bottom: 8px;
}
.playlist-bar h4{
  color: white;
}
.playlist-bar ul li{
  margin-top: 8px;
}
.playlist-bar i{
 padding: 10px 11px;;
 font-size: 20px;
 color: black;
 background-color: grey;
 margin-right: 8px;
}
.menu img{
  height:25px;
  vertical-align: middle;
}
.utente{
  margin-top:auto; /*NON TOCCARE!*/
}
.utente span i{
  color: white;
}
.utente hr{
  margin-top:10px;
  margin-bottom:20px;
}
.utente .user-icon{
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: grey;
  vertical-align:middle;
}
.utente strong{
  margin-left: 10px;
}
#special_user{
  color: white;
}
@media screen and (max-width: 680px) {
  aside{
    width: 100px;
  }
  .upgrade{
    left: 100px;
  }
  .logo{
    display:none;
  }
  .logo-small{
    display:block;
  }
  .menu{
    display:none;
  }
  .menu-small{
    display:block;
  }
  .playlist-bar{
    display:none;
  }
  .utente{
    display:none;
  }
  .utente-small{
    display: block;
  }
}
/* ---------------/ASIDE---------------- */
/* ---------------SPOTIFY---------------- */
.spotify_list{
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
.navmenu{
  margin-top: 90px;
}
.menu_flex{
  width: 80%;
  margin: auto;
}
.navmenu .menu_flex .nav_list_inline{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.nav_list_inline{
  display: flex;
  list-style-type: none;
}
.navmenu .menu_flex .nav_list_inline li{
  flex-basis: calc(100% / 6);
  padding: 5px;
  font-size: 12px;
}
.wrapper_music {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: auto;
}
.card_album {
  flex-basis: calc((100% / 6) - 10px);
  margin: 5px;
}
.card_album img {
  width: 100%;
  display: block;
}
@media screen and (max-width: 1100px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: calc(100% / 5);
  }
  .card_album {
    flex-basis: calc((100% / 4) - 10px);
  }
}
@media screen and (max-width: 900px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: calc(100% / 4);
  }
  .card_album {
    flex-basis: calc((100% / 2) - 10px);
  }
}
@media screen and (max-width: 680px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: calc(100% / 3);
  }
}
@media screen and (max-width: 480px) {
  .navmenu .menu_flex .nav_list_inline li{
    flex-basis: calc(100% / 2);
  }
}
/* ---------------/SPOTIFY---------------- */
/* ----------------------------/CORPO DELLA PAGINA----------------------*/
/* --------FOOTER--------- */
footer{
  height: 140px
}
/* --------/FOOTER--------- */
